<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script>
    const OFFICE_ID = "<%= office %>"
</script>
<script type="text/javascript" src="phaser.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="module" src="main.js"></script>

<body>
    Welcome to office <%= office %>
</body>

</html>