<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= roomId %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <script>
          const ROOM_ID = "<%= roomId %>"
    </script>
    <script type="text/javascript" src="./socket.io.js" defer></script>
    <script type="text/javascript" src="./client_that_works_but_doesnt_do_what_i_need.js" defer></script>
    <body>
      <h1>Welcome to room <%= roomId %></h1>
    </body>
</html>