<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <script>
        const ROOM_ID = "<%= room %>"
    </script>
    <script type="text/javascript" src="socket.io.js" defer></script>
    <script type="text/javascript" src="script.js" defer></script>
    <body>
        Welcome to room <%= room %>
    </body>
</html>